* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 10%;
  background-color: #1f2937;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

.header-links > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
  font-weight: 100;
}
.header-link > a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  display: flex;
  padding: 180px 10%;
  gap: 15%;
  background-color: #1f2937;
  color: white;
}

.hero-left {
  width: 50%;
}

.hero-left > h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-left > p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
  font-weight: 100;
}

.hero-left > button {
  border: none;
  color: white;
  background-color: #3882f6;
  border-radius: 8px;
}

.hero-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero-img {
  width: 100%;
}

.info-img-container {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
}

.info-img {
  width: 100%;
  border: 3px #3882f6 solid;
  border-radius: 15px;
  object-fit: cover;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}

.information-header {
  margin: 45px 0;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.information-container {
  display: flex;
  gap: 30px;
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 150px;
  gap: 10px;
}

.info-img {
  flex-shrink: 0;
}

.info-text {
  text-align: center;
  color: #1f2937;
}

.quote-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb;
}

.quote-wrapper {
  margin: 100px 22%;
}

.quote {
  font-size: 36px;
  font-weight: 200;
  color: #1f2937;
  font-style: italic;
}

.quote-author {
  text-align: right;
  font-weight: bold;
  font-size: 18px;
  padding-right: 2%;
}

.call-to-action-container {
  color: #f9faf8;
  padding: 60px 10%;
}

.call-to-action-box {
  background-color: #3882f6;
  padding: 30px 60px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.call-to-action-button {
  border: 1px solid #f9faf8;
  background-color: #3882f6;
  color: #f9faf8;

  border-radius: 8px;
}

.call-to-action-header {
  font-weight: 600;
}

.call-to-action-description {
  font-weight: 100;
}

.btn {
  padding: 10px 40px;
}

#footer {
  text-align: center;
  padding: 20px 0;
  color: #f9faf8;
  background-color: #1f2937;
}
